p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: white;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242424;
  padding: 12px 0;
  z-index: 999;

  #menu {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    nav {
      display: none;
    }
    #menu {
      display: block;
    }
    #logo {
      height: 55px;
    }
  }

  @media screen and (max-width: 767px) {
    #logo {
      height: 35px;
    }
    app-button {
      display: none;
    }
  }

}

#contacts {
  gap: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

.selected {
  color: var(--accentColor);
}
