.main-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 767px) { grid-template-columns: 1fr }
}
.custom-container {
  padding: 30px;
  max-height: 800px;
  overflow-y: auto;
  @media screen and (max-width: 800px) { padding: 15px }
  @media screen and (max-width: 767px){ max-height: none }
}

table {
  width: 100%;

  thead {
    th:first-child { text-align: left }
    th:last-child { text-align: right }
  }

  th { color: #8f8f8f; }

  td { text-align: center }
  td:first-child { text-align: left }
  td:last-child { text-align: right }

  @media screen and ( max-width: 767px ) { display: none }
}

.history-list {
  display: none;
  gap: 15px;
  @media screen and ( max-width: 767px ) { display: grid }
}

.list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 10px;

  &:last-child { border: none }

  img {
    width: 100%;
  }
}
