p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: white;
}

#filters {
  width: 100%;
  background-color: #242424;
  padding: 25px 0;
}

#container {

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  #places {
    @media screen and (max-width: 767px){
      display: block;
    }
  }

  app-combobox {
    flex: 1;
  }

  @media screen and (max-width: 1350px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1100px){
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 830px) {
    grid-template-columns: 1fr;
  }

  padding-bottom: 30px;

}

#sort {
  text-align: right;
  min-width: 280px;
}

#show-filters {
  display: none;
}

@media screen and (max-width: 1024px) {
  #additional-filters {
    display: none;
  }
  #show-filters {
    display: block;
  }
  #sort {
    text-align: left;
    min-width: 200px;
  }
}
