p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: white;
}

#product {

  .mat-accent .mat-slider-track-fill {
    background-color: red !important;
  }

  .mat-slider-thumb-label {
    background-color: red !important;

  }

  .mat-slider-visual-thumb {
    background-color: red !important;
  }

  padding: 20px;

  img {
    width: 100%;
  }

  @media screen and (width: 420px) {

    max-width: unset;

  }

}
