p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: white;
}

#placeholder {
  margin: 10px 0;
  color: #8f8f8f;
}

#combobox {
  font-weight: 500;
  display: flex;
  flex-direction: column;

  .combobox-body {

    width: 100%;
    background-color: #343434;
    border-radius: 5px;
    position: relative;
    height: 60px;
    max-height: 60px;
    display: flex;

    &:after {
      border-bottom: 2px solid #999;
      border-right: 2px solid #999;
      content: '';
      display: block;
      height: 5px;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 5px;
    }

    .hidden-container {
      background-color: #343434;
      position: absolute;
      display: none;
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      top: 64px;
      z-index: 100;

      input {
        font-size: 18px;
        width: 100%;
        caret-color: transparent;
        cursor: pointer;

        &:hover {
          font-weight: 500;
          color: var(--accentColor);
        }
      }

    }

    input {
      all: unset;
      width: 100%;
      margin: 0 20px;

      &:focus-within {
        display: block;

        .child-elements {
          display: block;
        }
      }
    }

    &:focus-within {
      .hidden-container {
        display: block;
        background-color: #191919;
      }

      background-color: #191919;

      &:after {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

      .visible {
        display: none;
      }
    }

  }

  .flat {
    background-color: transparent;
    max-height: 40px;

    #inputBox {
      margin: 0 30px 0 0;
    }

    .hidden-container {
      top: 44px;
    }

    &:focus-within {
      background-color: transparent;
    }
  }

}

.required {
  &::before {
    content: '* ';
    color: red;
    font-size: 24px;
  }
}


.visible {
  display: none;
}
